-i https://pypi.org/simple
asgiref==3.7.2
astroid==2.15.8 ;
certifi==2023.7.22 ; 
cryptography==41.0.4
dj-database-url==2.1.0
django==4.2.5
django-cors-headers==4.2.0
django-environ==0.11.2
django-rest-swagger==2.2.0
djangorestframework==3.14.0
drf-spectacular==0.26.5
drf-yasg==1.21.7
jinja2==3.1.2 ; 
psycopg2==2.9.81
pymysql==1.1.0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
pyyaml==6.0.1
sqlparse==0.4.4
urllib3==2.0.6 ;
whitenoise==6.5.0
